@import "~Styles/colors.module";
@import "~Styles/mixins.module";
.exhibition_page_container {
  .content_container {
    overflow: auto;
    padding: 25px 50px 0px;

    .item {
      height: 290px;
      align-self: stretch;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 25px;

      .image {
        align-self: stretch;
        width: 345px;
      }

      .item_content {
        flex: 1;
        color: $color-dark;
        padding: 19px 19px 13px 15px;

        .title {
          font-size: 20px;
          font-weight: bold;
        }

        .description {
          font-size: 14px;
          font-weight: 300;
          margin: 11px 0px 20px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .category_header_container {
          .category_header {
            font-size: 14px;
            font-weight: bold;
          }

          .category_value {
            font-size: 14px;
            font-weight: 300;
          }
        }

        .date_container {
          opacity: 0.9;
          font-size: 10px;
          margin-top: 11px;
          .date_title {
            font-weight: bold;
            margin-bottom: 7px;
            text-transform: uppercase;
          }

          .date_value {
            color: $color-dark;
          }
        }
        .mobile_action_button {
          display: none;
        }
        .action_container {
          margin-top: auto;

          .last_date {
            font-size: 12px;
            color: $color-green-apple;
            margin-right: auto;
            text-transform: uppercase;
          }
          .last_date::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            background-color: #44d515;
          }
        }
      }
    }
  }
}

@include small {
  .exhibition_page_container {
    .content_container {
      overflow: auto;
      padding: 25px 30px 0px;

      .image {
        align-self: stretch;
        width: 100% !important;
      }

      .item {
        height: 100%;
        flex-direction: column;

        .action_container {
          text-align: center;
          margin-top: auto;
          .action_button {
            display: none;
          }
        }
        .mobile_action_button {
          display: block !important;
          margin-top: 12px;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}

.rtl {
  flex-direction: row-reverse;
  text-align: right;
  .category_header {
    text-align: left;
  }
  .date_container {
    flex-direction: row-reverse;
  }
  .category_header_container {
    flex-direction: row-reverse;
  }
  .action_container {
    flex-direction: row-reverse;
    justify-content: space-between;
    .last_date {
      margin-right: 0px !important;
      margin-left: 10px !important;
    }
  }
}
