@import "~Styles/colors.module";
@import "~Styles/mixins.module";

.order_page_container {
  // overflow-y: auto;
}

.header {
  font-size: 12px;
  color: $color-dark;
  padding: 17px 0px 17px 54px;
}
.cancel_button {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}

.print_invoice_button {
  border: solid 1px #22292f;
  background-color: #f4f7fa;
  color: #19202c;
  margin-right: 5px;
}
.order_container {
  padding: 17px 0px 9px 54px;

  .order_id {
    opacity: 0.9;
    font-size: 16px;
    font-weight: 300;
    color: $color-dark;
  }
  .placed_on {
    opacity: 0.9;
    font-size: 16px;
    font-weight: 300;
    color: $color-dark;
  }
  .status {
    font-size: 12px;
    color: $color-green-apple;
    text-transform: uppercase;
  }
}

.header {
  font-size: 12px;
  color: $color-dark;
  padding: 17px 0px 17px 54px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.normal_container {
  padding: 18px 0px 18px 54px;
  opacity: 0.8;
  font-size: 12px;
  color: $color-dark;

  .title {
    span {
      width: 100px;
    }
  }
  .value {
    margin-left: 10px;
  }
}

.address_container {
  padding: 54px;
  align-self: stretch;

  .address_item_container {
    margin-right: 16px;
    .title {
      font-size: 10px;
      font-weight: bold;
      color: $color-dark;
    }

    .description {
      font-size: 14px;
      color: $color-dark;
      margin-top: 14px;
      max-width: 250px;
    }
  }
}

.form_container {
  display: flex;
  flex-direction: column;
  padding: 22px 0px 0px 33px;
  max-width: 393px;

  .input_text {
    margin-bottom: 10px;
  }

  .form_button_container {
    margin-top: 13px;
    margin-bottom: 13px;
    justify-content: space-between;
  }
}

@include small {
  .address_container {
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-between;
    .address_item_container {
      margin-right: 16px;
      width: 150px;
      margin-bottom: 40px;
      .title {
        font-size: 12px;
        font-weight: bold;
        color: $color-dark;
      }
    }
  }
  .datatable_container {
    width: 100vw;
  }
  .rtl {
    .address_container {
      flex-direction: row-reverse;
      .address_item_container {
        margin-right: 0px;
        margin-left: 7px;
      }
    }
  }
}

.rtl {
  .order_container {
    padding: 17px 54px 9px 0px;
    text-align: right;
  }

  .header {
    padding: 17px 54px 17px 0px;
    text-align: right;
  }

  .normal_container {
    padding: 17px 54px 9px 0px;

    .title {
      flex-direction: row-reverse;
    }
  }

  .address_container {
    flex-direction: row-reverse;
  }

  .form_container {
    margin-left: auto;
    padding: 17px 54px 9px 0px;

    .form_button_container {
      justify-content: flex-end;
    }
  }
}

:global {
  .input_select_container {
    margin-bottom: 10px;

    .error_text {
      color: red;
    }
  }

  .react-select-container {
    .react-select__control {
      border: none;
      border-color: rgba(black, 0);
      background: rgba($color-very-light-blue, 0.4);
      border-radius: 24px;
      padding: 8px 28px;
      align-self: stretch;

      .react-select__value-container {
        font-size: 18px;
        color: $primary-text-color;
      }

      .react-select__value-container::placeholder {
        color: rgba($primary-text-color, 0.3);
      }
    }
  }

  @include medium {
    .react-select-container {
      .react-select__control {
        padding: 14px 24px;

        .react-select__value-container {
          font-size: 16px;
        }
      }
    }
  }

  @include small {
    .react-select-container {
      .react-select__control {
        padding: 12px 20px;

        .react-select__value-container {
          font-size: 14px;
        }
      }
    }
  }
}
