@import "~Styles/colors.module";

.product_list_item_container {
  width: 314px;
  color: $color-dark;
  border-radius: 2px;
  border: solid 1px rgba(212, 213, 217, 0.5);
  background-color: white;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;

  .title {
    font-family: PlayfairDisplay;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 4px;
  }

  .description {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .image {
    width: 253px;
    height: 201px;
    object-fit: contain;
  }

  .action_button {
    margin-top: 26px;
    align-self: stretch;
    background-color: #e6eaee;
    color: $color-gold;
    padding: 10px 0px 13px;
    cursor: pointer;
  }
}
