@import "~Styles/colors.module";

.exhibition_subscription_page_container {
  padding: 25px 0px 30px 0px;
  .overview_container {
    padding: 20px 50px;
    .text_wrapper {
      margin-bottom: 15px;
      .title {
        font-size: 12px;
        font-weight: bold;

        margin-bottom: 14px;
      }
      .description {
        font-size: 14px;
        font-weight: 300;
      }
    }

    .date {
      opacity: 0.9;
      font-size: 10px;
    }
  }
  .options_wrapper {
    padding: 20px 50px;
    .enroll_button {
      width: 218px;
      height: 51px;
      border-radius: 100px;
      font-family: Lato;
      font-size: 14px;
      font-weight: 900;
    }
  }
}
