@import "~Styles/colors.module";
@import "~Styles/mixins.module";

.benefits {
  padding: 55px;
  flex-wrap: wrap;
  .list_item {
    margin-right: 30px;
    .title_group {
      width: 327px;
      .title {
        font-family: Lato;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin-top: 20px;
      }
      .description {
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin-top: 10px;
      }
    }

    .image {
      height: 214px;
      margin-right: auto;
    }
  }
}

@include small {
  .benefits {
    flex-direction: column;
    padding: 30px;

    .list_item {
      margin-bottom: 15px;
      margin-right: 0px;
      align-items: center;
      text-align: center;
      text-align: -webkit-center;
      text-align: center;
      text-align: -webkit-center;
      .title_group {
        width: 287px;
        .title {
          font-size: 24px;
        }
        .description {
          font-size: 14px;
        }
      }

      .image {
        align-items: center;
        width: 190px;
        margin-right: none;
      }
    }
  }
}

@include medium {
  .benefits {
    flex-direction: column;
    padding: 30px;

    .list_item {
      margin-bottom: 15px;
      margin-right: 0px;
      align-items: center;
      text-align: center;
      text-align: -webkit-center;
      text-align: center;
      text-align: -webkit-center;
      .title_group {
        width: 287px;
        .title {
          font-size: 24px;
        }
        .description {
          font-size: 14px;
        }
      }

      .image {
        align-items: center;
        width: 190px;
        margin-right: none;
      }
    }
  }
}

.rtl {
  flex-direction: row-reverse;
}
