@import "~Styles/colors.module";
@import "~Styles/mixins.module";
.title {
  font-family: PlayfairDisplay;
  font-size: 50px;
  font-weight: bold;
  color: $primary-text-color;
}

.message {
  font-size: 16px;
  color: $primary-text-color;
  padding: 20px;
}

@include small {
  .title {
    font-size: 30px;
  }

  .message {
    font-size: 10px;
    padding: 20px;
  }
}
