@import "~Styles/colors.module";

.modal_container {
  width: 70%;
  height: 80%;
  background-color: white;

  .header_container {
    padding: 13px 13px 13px 28px;
    justify-content: space-between;

    .header_title {
      font-size: 16px;
      color: $color-dark;
    }
  }

  .content_container {
    overflow: auto;
    flex-flow: wrap;
    justify-content: center;

    .item_container {
      overflow: auto;
      flex-wrap: wrap;
      padding: 30px;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  .product_loader {
    overflow: auto;
  }
}
