@import "~Styles/colors.module";
@import "~Styles/mixins.module";

.deliveringOrders {
  padding: 55px;
  .list_item {
    margin-right: 70px;
    .title_group {
      width: 327px;
      .title {
        font-family: Lato;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin-top: 20px;
      }
      .description {
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin-top: 10px;
      }
    }

    .image {
      height: 214px;
      margin-right: auto;
    }
  }
}

@include small {
  .deliveringOrders {
    padding: 30px;
    flex-direction: column;
    .list_item {
      margin-right: 0px;
      text-align: center;
      align-items: center;

      .title_group {
        width: 327px;
        .title {
          font-family: Lato;
          font-size: 24px;
        }
        .description {
          font-family: Lato;
          font-size: 14px;
        }
      }

      .image {
        width: 100%;
      }
    }
  }
}

@include medium {
  .deliveringOrders {
    padding: 30px;
    flex-direction: column;
    .list_item {
      margin-right: 0px;
      text-align: center;
      align-items: center;

      .title_group {
        width: 327px;
        .title {
          font-family: Lato;
          font-size: 24px;
        }
        .description {
          font-family: Lato;
          font-size: 14px;
        }
      }

      .image {
        width: 100%;
      }
    }
  }
}
