@import "~Styles/colors.module";
@import "~Styles/mixins.module";
.content_container {
  padding: 17px 15px 9px 45px;
  .additional_plans {
    margin-top: 30px;
    .additional_plans_title {
      font-size: 16px;
      color: #30384c;
      text-transform: uppercase;
      cursor: pointer;
    }

    .additional_plans_container {
      margin-top: 30px;
    }
  }

  // .custom_button {
  //   background-color: $color-gold;
  //   &:active {
  //     background-color: $color-gold;
  //   }
  //   &:hover {
  //     background-color: $color-gold;
  //   }
  //   &:link {
  //     background-color: $color-gold;
  //   }
  // }
}

@include small {
  .content_container {
    padding: 17px 35px 9px 30px;

    .inner_content_container {
      flex-direction: column;
    }
  }
}
