@import '~Styles/colors.module';

.exhibition_details_container {
  padding: 25px 53px 0px 40px;

  .exhibition_banner_container {
    align-self: center;
    width: 997px;
    height: 255px;
    align-items: flex-end;
    padding: 18px 15px 18px 28px;
    position: relative;

    .overlay_gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;

      background-color: rgba($color-dark, 0.4);
    }

    .banner_content {
      flex: 1;
      color: white;
      z-index: 1;
      max-width: 604px;
      margin-right: auto;

      .exhibition_name {
        font-family: PlayfairDisplay;
        font-size: 36px;
        font-weight: 900;
      }

      .exhibition_description {
        opacity: 0.9;
        font-size: 14px;
        margin: 10px 0px 15px;
      }

      .exhibition_date {
        font-size: 12px;
        color: $color-green-apple;
      }
    }
  }


}
