@import "~Styles/colors.module";
@import "~Styles/mixins.module";
.page_container {
  position: relative;
}
.header_background {
  background-color: $primary-text-color;
}

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.5s ease;
}

.hero_section_container {
  min-height: 80vh;
  position: relative;
  background-image: linear-gradient(225deg, #37445b 0%, #19202c 92%);
  background-position: center;
  background-size: cover;
  padding: 55px;
  padding-top: 10vh;

  .primary_header {
    width: 450px;
    font-family: Lato;
    font-size: 50px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .secondary_header {
    width: 450px;

    font-family: Lato;
    font-size: 25px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .start_selling_button {
    width: 285px;
    height: 61px;
    border-radius: 28px;
    background-color: $color-gold;

    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;

    @include on_click_button;
  }
  .hero_main_content {
    position: relative;
    justify-content: center;

    .social_container {
      position: absolute;
      left: 0;
    }
  }
}
.pricing_select_container {
  margin-bottom: 20px;
  .start_selling_button_pricing {
    width: 285px;
    height: 61px;
    border-radius: 28px;
    background-color: $color-gold;

    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;

    @include on_click_button;
  }
}

.seller_proposition {
  border: solid 1px #979797;
}

@include small {
  .hero_section_container {
    flex-direction: column;
    height: unset;
    // width: 350px;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;

    .hero_section_inner_container {
      flex-direction: column;
    }
    .primary_header {
      font-size: 24px;
      width: 100%;
    }

    .secondary_header {
      font-size: 18px;
      width: 100%;
    }

    .start_selling_button {
      width: 185px;
      height: 41px;
      font-size: 12px;
    }

    .app_icon {
      width: 320px;
      height: 330px;
    }
  }
}

@include medium {
  .hero_section_container {
    flex-direction: row;
    height: unset;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    min-height: 100%;

    .hero_section_inner_container {
      flex-direction: column;
      align-items: center;
    }
    .primary_header {
      font-size: 24px;
      width: 100%;
    }

    .secondary_header {
      font-size: 18px;
      width: 100%;
    }

    .start_selling_button {
      width: 185px;
      height: 41px;
      font-size: 12px;
    }

    .app_icon_container {
      align-items: center;
      .app_icon {
        width: 320px;
        height: 330px;
      }
    }
  }
}

@include large {
  .hero_section_container {
    flex-direction: row;
    height: unset;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    min-height: 100%;

    .hero_section_inner_container {
      flex-direction: column;
      align-items: center;
    }
    .primary_header {
      font-size: 24px;
      width: 100%;
    }

    .secondary_header {
      font-size: 18px;
      width: 100%;
    }

    .start_selling_button {
      width: 185px;
      height: 41px;
      font-size: 12px;
    }

    .app_icon_container {
      align-items: center;
      .app_icon {
        width: 100%;
      }
    }
  }
}
